:root {
    --dark-fg: #010914;
    --light-fg: #5f8bb7;

    --dark-bg: #e4e9ee;
    --light-bg: #fffcfc;
}

    body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: var(--dark-fg);
    background-color: var(--dark-bg);
}

footer {
    text-align: center;
}

#page-header {
    max-width: 90%;
    background-color: var(--light-bg);
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "header-left header-center header-right";
    grid-template-columns: 2fr 5fr 1.5fr;
    align-self: baseline;
}

#header-left {
    grid-area: header-left;
    border-right: solid 1px var(--light-fg);
}

#header-center {
    grid-area: header-center;
}

#header-right {
    grid-area: header-right;
    border-left: solid 1px var(--light-fg);
}

#cat-logo img {
    border-radius: 1rem;
    border-color: var(--light-fg);
    border: 1px solid;
    margin-bottom: 0;
    position: fixed;
}

#search-engine {
    padding-top: 2rem;
    padding-left: 2rem;
    width: 50%;
}

#search-engine input {
    font-size: large;
    border: solid 1px var(--light-fg);
    border-radius: 0.2rem;
    padding: 0.2rem;
    padding-left: 1rem;
    color: var(--light-fg)
}

#search-engine input::placeholder {
    color: var(--light-fg)
}

#search-engine button {
    margin-left: 0.5rem;
    width: auto;
    font-size: large;
    color: var(--light-fg);
    background-color: var(--dark-bg);
    border: solid 1px var(--light-fg);
    border-radius: 1rem;
    padding: 0.25rem;
}

main {
    max-width: 90%;
    background-color: var(--light-bg);
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "side-content full-content in-article";
    grid-template-columns: 2fr 5fr 1.5fr;
}

#full-content {
    grid-area: full-content;
}

#side-content {
    grid-area: side-content;
    margin-left: 1rem;
    border-right: solid 1px var(--light-fg);
    position: relative;
}

#side-content-list {
    margin-top: 2%;
    align-self: baseline;
    position: fixed;
}

#in-article { 
    grid-area: in-article;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: solid 1px var(--light-fg);
    position: relative;
}

#in-article-content {
    align-self: baseline;
    position: fixed;
}

main p, li {
    padding: 0.5rem;
    font-size: larger;
}

main p {
    text-align: left;
    line-height: 1.5rem;
    color: black;
}

main p:hover, li:hover, tr:hover {
    background-color: var(--dark-bg);
    border-radius: 0.5rem;
}

ul {
    list-style: none;
    padding-left: 2rem;
}

a {
    color: var(--light-fg);
    text-decoration: none;
}

a:hover {
    color: var(--dark-fg);
    text-decoration: underline;
}

#introduction {
    margin: auto;
    gap: 3rem;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
}

#intro-text small {
    margin-top: 0;
    padding-left: 1rem;
}

#intro-tab {
    float: right;
    width: 350px;
}

.tabs {
    margin-top: 0.5rem;
    table-layout: fixed;
    background-color: var(--dark-bg);
    border-radius: 1rem;
    border-style: double;
    border-color: var(--light-fg);
    line-height: 1.5rem;
    padding: 0.2rem;
    white-space: normal;
    word-wrap: break-word;
    border-collapse: collapse;
}

.tabs tr {
    vertical-align: top;
}

.tabs th {
    text-align: left;
}

.tabs td {
    padding-left: 1rem;
}

#intro-tab img {
    border-radius: 0.5rem;
    border-color: var(--light-fg);
}

#intro-tab #title-tab,#image-tab,#website {
    text-align: center;
}

#intro-text small {
    margin-top: 0;
    padding-left: 2rem;
}

#general {
    margin: auto;
    gap: 3rem;
    padding-left: 0.5rem;
    padding-left: 0.5rem;
}

#general-sys-requeriments-tab {
    float: right;
    width: 450px;
}

#general-sys-requeriments-tab tr {
    border-bottom: solid 1px var(--light-fg);
}

#windows {
    text-align: center;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h1, h2, h3, h4 {
    padding-left: 1rem;
    margin-bottom: 0.1rem;
    color: var(--dark-fg);
}

h4, h5, h6 {
    padding-left: 1rem;
    font-size: 0.85rem;
    margin-bottom: 0.1rem;
    color: var(--dark-fg);
}

#full-content h1, #full-content h2, #full-content h3, #full-content h4, #full-content h5, #full-content h6 {
    border-bottom: solid 1px var(--dark-fg);
}